In [3]:
import pandas as pd
import numpy as np

In [5]:
#write the data
a = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])

In [6]:
#to read the data
a

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [7]:
#give the name of the data
a.name ='Population in millions'
a

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: Population in millions, dtype: float64

In [9]:
#to knowing the data type
a.dtype

dtype('float64')

In [10]:
#to knowing the values
a.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [11]:
type(a.values)

numpy.ndarray

In [18]:
#using list in data analysis
a[0]

35.467

In [19]:
a.index

RangeIndex(start=0, stop=7, step=1)

In [20]:
l = ['a', 'b', 'c']

In [22]:
#make index data
a.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]
a

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population in millions, dtype: float64

In [23]:
#different way to make the tabel
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [24]:
#or you can use this
pd.Series(
    [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
    name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [27]:
a

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population in millions, dtype: float64

In [30]:
a['Italy'] #use list to see the value

60.665

In [31]:
a.iloc[0] #you also can use this to see the value

35.467

In [32]:
a.iloc[-1] #to see the back value

318.523

In [34]:
a[['France','United States']] #to see multiple elements at once

France            63.951
United States    318.523
Name: Population in millions, dtype: float64

In [35]:
a.iloc[[1,6]] #also you can use this

France            63.951
United States    318.523
Name: Population in millions, dtype: float64

In [37]:
a['Japan':'United States']

Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population in millions, dtype: float64

In [38]:
a

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population in millions, dtype: float64

In [39]:
a > 70 #see the value in boolean

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population in millions, dtype: bool

In [40]:
a[a>70] #see the value in number

Germany           80.940
Japan            127.061
United States    318.523
Name: Population in millions, dtype: float64

In [41]:
a[a<70]

Canada            35.467
France            63.951
Italy             60.665
United Kingdom    64.511
Name: Population in millions, dtype: float64

In [42]:
a.mean() #to looking for the mean

107.30257142857144

In [43]:
a[a>a.mean()] #looking for the value more than the mean

Japan            127.061
United States    318.523
Name: Population in millions, dtype: float64

In [46]:
a.std() #looking for standard deviation

97.24996987121581

In [49]:
a[(a > a.mean() - a.std() / 2) | (a > a.mean() + a.std() / 2)] #using some calculation

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population in millions, dtype: float64

In [50]:
a

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population in millions, dtype: float64

In [53]:
a[(a > 80) | (a < 40)]

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
Name: Population in millions, dtype: float64

In [54]:
a['France': 'Italy'].mean()

68.51866666666666

In [55]:
a[(a > 80) & (a < 200)]

Germany     80.940
Japan      127.061
Name: Population in millions, dtype: float64

In [57]:
a['Canada'] = 40.5 #to change the value

In [58]:
a

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population in millions, dtype: float64

In [59]:
a.iloc[-1] = 500 ##to change the value from back

In [60]:
a

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: Population in millions, dtype: float64

In [61]:
a[a < 70] = 99.99 #make the same value under the 70

In [62]:
a

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     500.000
Name: Population in millions, dtype: float64

# ANOTHER EXERCISE

In [98]:
#Given the X pandas Series, name it 'My letters'
X = pd.Series(['E','F','G'])
X.name ='My letters'
X

0    E
1    F
2    G
Name: My letters, dtype: object

In [68]:
#show the values
X.values

array(['E', 'F', 'G'], dtype=object)

In [69]:
#Assign index names to the given X pandas Series
X = pd.Series(['E', 'F','G'])
index_name = ['first','second','third']

X.index = index_name
X

first     E
second    F
third     G
dtype: object

In [70]:
#Given the X pandas Series, show its first element
X = pd.Series(['E','F','G'], index=['first', 'second', 'third'])

#X[0] # by position
#X.iloc[0] # by position
X['first'] # by index

'E'

In [71]:
#Given the X pandas Series, show its last element
X = pd.Series(['E','F','G'], index=['first', 'second', 'third'])

#X[-1] # by position
#X.iloc[-1] # by position
X['third'] # by index

'G'

In [72]:
#Given the X pandas Series, show all middle elements
X = pd.Series(['E','F','G','H','I'],
              index=['first','second','third','forth','fifth'])

#X[['second', 'third', 'forth']]
#X.iloc[1:-1] # by position
X[1:-1] # by position

second    F
third     G
forth     H
dtype: object

In [73]:
X.dtype #it is mean dont have data type or the data type is object

dtype('O')

In [74]:
#Given the X pandas Series, show the elements in reverse position
X = pd.Series(['E','F','G','H','I'],
              index=['first','second','third','forth','fifth'])

#X.iloc[::-1]
X[::-1]

fifth     I
forth     H
third     G
second    F
first     E
dtype: object

In [75]:
#Given the X pandas Series, show the first and last elements
X = pd.Series(['E','F','G','H','I'],
              index=['first','second','third','forth','fifth'])

#X[['first', 'fifth']]
#X.iloc[[0, -1]]
X[[0, -1]]

first    E
fifth    I
dtype: object

In [77]:
#Convert the given integer pandas Series to float

X = pd.Series([11,12,13,14,15],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=np.float64)

first     11.0
second    12.0
third     13.0
forth     14.0
fifth     15.0
dtype: float64

In [78]:
#Reverse the given pandas Series (first element becomes last)
X = pd.Series([11,12,13,14,15],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     15
forth     14
third     13
second    12
first     11
dtype: int64

In [79]:
#Order (sort) the given pandas Series
X = pd.Series([14,12,15,11,13],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

first     11
second    12
third     13
forth     14
fifth     15
dtype: int64

In [80]:
#Given the X pandas Series, set the fifth element equal to 10
X = pd.Series([11,12,13,14,15],
              index=['A','B','C','D','E'])

X[4] = 10
X

A    11
B    12
C    13
D    14
E    10
dtype: int64

In [82]:
#Given the X pandas Series, change all the middle elements to 0
X[1:-1] = 0
X

A    11
B     0
C     0
D     0
E    15
dtype: int64

In [83]:
#Given the X pandas Series, add 5 to every element
X = pd.Series([11,12,13,14,15])

X + 5

0    16
1    17
2    18
3    19
4    20
dtype: int64

In [84]:
#Given the X pandas Series, make a mask showing negative element
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

In [85]:
#Given the X pandas Series, get the negative elements
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

In [ ]:
#Given the X pandas Series, get numbers higher than 5
mask = X > 5
X[mask]

5     6
9    10
dtype: int64

In [88]:
X.mean()

0.9

In [87]:
#Given the X pandas Series, get numbers higher than the elements mean
mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

In [89]:
#Given the X pandas Series, get numbers equal to 2 or 10
mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

In [90]:
#Given the X pandas Series, return True if none of its elements is zero
X.all()

False

In [91]:
#Given the X pandas Series, return True if any of its elements is zero
X.any()

True

In [92]:
#Given the X pandas Series, show the sum of its elements
X = pd.Series([3,5,6,7,2,3,4,9,4])

#np.sum(X)
X.sum()

43

In [93]:
X.mean()

4.777777777777778

In [94]:
X.max()

9

In [95]:
X.min()

2

If you dont understand some code above, just go to the documentation of pandas and numpy